#firstname{
    color:red
}
body {
    background-color: rgb(12, 59, 75);
  }
  
h1 {
    color: white;
    text-align: center;
}
a{
    font-size: 12px;
    font-family: Tahoma;
}
  
p {
    font-family: verdana;
    font-size: 20px;
    color:white;
    background-color: black(255, 255, 255);
}
.bgt {
    background-color:pink;
}